<h1>Find out the correct answer to Sphinx Riddle!</h1>

<form action="/output" method="post">
  <h3>Choose the riddle:</h3>
  <input type="radio" name="question" value="human" checked> When I am young, I go on four legs, then I go on two legs, then I go on three legs, and then I die.<br>
  <input type="radio" name="question" value="asteroids"> Large as a mountain, small as a pea, Endlessly swimming in a waterless sea.<br>
  <input type="radio" name="question" value="dog"> To you, rude would I never be, Though I flag my tongue for all to see.<br>
  <h3>Choose the answer:</h3>
  <input type="radio" name="answer" value="asteroids"> asteroids<br>
  <input type="radio" name="answer" value="human" checked> human<br>
  <input type="radio" name="answer" value="dog"> dog<br>
  <button type="submit" class="btn">Go!</button>
</form>
